body
{
    background: url("./../image/OGAS.svg") black no-repeat center fixed;
    background-size: contain;
    color:white;
}

div
{
    background-color: rgba(0, 0, 0, 0.9);
    margin: 15px 30px 15px 30px;
    padding: 1em 1em 1em 1em;
    border: 3px solid white;
}

div.virtual
{
    background-color: rgba(0, 0, 0, 0);
    margin: none;
    padding: none;
    border: none;
}

.block
{
    background-color: rgba(0, 0, 0, 0.9);
    margin: 15px 30px 15px 30px;
    padding: 1em 1em 1em 1em;
    border: 3px solid white;
}
.flex-container
{
    display : flex;
    flex-wrap: wrap;
}

.flex-container.row
{
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-container.column
{
    display : flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.null
{
    background-color: rgba(0, 0, 0, 0);
    margin: none;
    padding: none;
    border: none;
}